/**
 * Layout style vertical grid.
 */

/**
 * Variables
 */
 @darkColor: #242426;
 @blueColor: #41588A;
 @pinkColor: #72394C;
 @greenColor: #478979;
 @orangeColor: #BE895C;
 @backgroundColor: #f2efe9;

/**
 * General layout
 */

/* Hide responsive/mobile menu */
.rm-navbar-max {
    display: none;
}

.right {
    float: right;
}


.left {
    float: left;
}

.row {
    #desinax-vgrid.row();
    margin-bottom: 0;
}

.inner-wrap {
    #desinax-vgrid.grid(1120px);
}

.vgrid .inner-wrap {
    @gridImage: "../img/theme/grid_24x30x10-nomargin.png";
    //@gridImage: "../../img/grid_12x60x20-nomargin.png";
    #desinax-vgrid.showGrid(@gridImage, 1120px);

    &.inner-wrap-header,
    &.inner-wrap-flash {
        #desinax-vgrid.showGrid(@gridImage);
    }
}

 /* ---------- Header ---------- */

 .outer-wrap-header {
     #desinax-vgrid.grid(100%);
     background-color: #fff;
 }

.inner-wrap-header {
    #desinax-vgrid.grid(98%);
}

.region-header {
    height: 72px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    &-col-1 {
        #desinax-vgrid.column(6);
    }
    &-col-2 {
        #desinax-vgrid.column(18);
        text-align: right;
    }
}

.site-logo-text-icon img {
    display: none;
}

.site-logo {
    display: none;
}

.site-logo-text  {
    #desinax-hgrid.fontSize(@fontSizeH3);
    & a {
        color: @darkColor;
        text-decoration: none;
        margin-bottom: 24px;
    }
}

.rm-desktop ul {
    float: right;
}

.rm-desktop li {
    display: inline-block;
    padding: 0 0.5em;
    text-transform: lowercase;
    color: @darkColor;
    & a {
        padding: 0 0.5em;
        letter-spacing: 0.04em;
    }
    & a:hover {
        border-bottom: 1px solid @greenColor;
        text-decoration: none !important;
    }
}


.rm-desktop li li {
    background-color: #fff;
    text-align: left;
}


/* ---------- Flash ---------- */
.inner-wrap-flash {
   #desinax-vgrid.grid(100%);
   box-sizing: border-box;
}

.region-flash {
    #desinax-vgrid.column(@columns);
    margin-bottom: 0;
    height: 408px;
    background-image: url("../img/kod_v2.jpg");
    background-color: black;
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    & img {
        display: none;
    }
}


/* ---------- Main content ---------- */

.region-main {
    #desinax-vgrid.column(@columns - 2);
    #desinax-vgrid.push(1);
    margin-bottom: 24px;
    &.has-sidebar {
        #desinax-vgrid.column(@columns * 3 / 4 - 2);
        #desinax-vgrid.push(1);
    }
    &.has-sidebar-left {
        #desinax-vgrid.push(1)
    }
    &.has-sidebar-left.has-sidebar-right {
        #desinax-vgrid.column(@columns - 14);
        #desinax-vgrid.push(1)
    }
}

.region-sidebar-left,
.region-sidebar-right,
.region-sidebar-left.has-sidebar-right,
.region-sidebar-right.has-sidebar-left  {
    #desinax-vgrid.column(@columns * 1 / 4 - 1);
    #desinax-vgrid.push(1);
}

.region-sidebar-right,
.region-sidebar-right.has-sidebar-left {
    #desinax-vgrid.push(1);
}

.inner-wrap-main,
.inner-wrap-breadcrumb {
    background-color: #fff;
    box-sizing: border-box;
    //padding: 0 24px;
}

.inner-wrap-breadcrumb {
    position: relative;
    z-index: 0;
    margin-top: -180px;
}

.inner-wrap-main {
    margin-bottom: 48px;
    position: relative;
    z-index: 0;
    min-height: 600px;
}


/* ---------- Breadcrumb & navigation ---------- */
.region-breadcrumb {
    #desinax-vgrid.column(@columns - 2);
    #desinax-vgrid.push(1);
    margin-bottom: 24px;
}

.next-previous,
.breadcrumb-list {
    #desinax-hgrid.fontSize(@fontSizeSmall);
    // margin-bottom: 24px;
    // margin-top: 0px;
}

.next-previous .next {
    float: right;
    text-align: right;
}

.breadcrumb-list ul,
.toc ul {
    margin-top: 0;
    padding-top: 0;
    padding-left: 0;
    list-style-type: none;
}

.breadcrumb-list ul {
    margin-top: 24px;
}

.breadcrumb-list li {
    display: inline;
    &::after {
        content: "  /  ";
        color: @greenColor;
    }
    &:last-child::after {
        content: " ";
    }
}

.breadcrumb-list a,
.toc a,
.next-previous a {
    color: black;
    text-decoration: none;
}

.toc a:hover,
.next-previous a:hover,
.breadcrumb-list a:hover {
    text-decoration: underline;
    color: @greenColor;
}

.toc h4 {
    background-color: @greenColor;
    color: #fff;
    padding-left: 0.5em;
    border-bottom: 0px;
    margin-top: 0;
}

/* ---------- Figure---------- */
.figure.right {
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 24px;
    padding-left: 1.5em;
    box-sizing: border-box;
}

.figure.me {
    height: 600px;
    width: auto;
    overflow: auto;
}

/* ---------- Flashmessage ---------- */
.region-flash-message {
    #desinax-vgrid.column(@columns);
    margin-bottom: 24px;
}

.flashmessage {
    background-color: @pinkColor;
    color: #fff;
    & p {
        padding: 24px;
        margin-bottom: 0;
    }
    & .flashmessage-icon {
        float: right;
        padding: 24px
    }
}



/* ---------- Byline ---------- */

.author-byline {
    #desinax-vgrid.column(@columns);
    background-color: @blueColor;
    box-sizing: border-box;
    font-size: 18px;
    padding: 12px;
    color: black;
    margin-bottom: 24px;
    margin-top: 0;
}

.author-byline a {
    color: white;
}

.author-byline p {
    margin-bottom: 0;
    color: #fff;
}

.author-byline img {
    width: 120px;
    float: left;
    margin-right: 12px;
}

/* ---------- Footer---------- */
.outer-wrap-footer {
    background-color: @darkColor;
    color: #fff;
}

.region-footer h3 {
    #desinax-hgrid.fontSize(1.5em);
    border-bottom: none;
    margin-bottom: 24px;
}

.footer-column {
    #desinax-vgrid.column(@columns / 4);
}

.site-footer {
    #desinax-vgrid.column(@columns);
    text-align: center;
    border-top: 1px solid #fff;
    & p {
        border-bottom: 24px;
    }

}
